<mat-toolbar>
  <span class="header-text">Flights</span>
  <div>
    <button mat-button [routerLink]="['/active-flights']">
      Active flights
    </button>
    <button mat-button [routerLink]="['/airplains-list']">
      Airplains list
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<app-scroll-top></app-scroll-top>
<mat-toolbar color="primary" class="footer">
  <div></div>
  <span class="footer-text">Flights 2022</span>
  <a
    target="blank_"
    href="https://pl.linkedin.com/in/artur-zah-web-dev"
    mat-icon-button
    aria-label="account_circle icon"
  >
    <mat-icon>account_circle</mat-icon>
  </a>
</mat-toolbar>
